html,
body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(182, 223, 255);
  /* height: auto;
  width: auto; */
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "poppins";
}

.App {
  margin: 0;
  padding: 0;
}
