.form-container {
  padding: 5rem 0;
  padding-bottom: 3rem;
  text-align: center;
  background-color: rgb(182, 223, 255);
  /* height: 100%; */
  width: 100%;
}

.cgpa-article {
  /* border: 2px solid red; */
  background-color: rgb(193, 181, 253);
  box-shadow: 0 0 28px #44337a;
  /* border-radius: 20px; */
  padding: 25px 0px;
  margin: 3rem auto;
  height: 50%;
  width: 50%;
}

.cgpa-article h3 {
  font-size: large;
  font-weight: 600;
  margin-bottom: 20px;
}

.cgpa-result {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cgpa-result li {
  font-family: "poppins";
  padding: 2px;
  margin: 5px;
}

.sgpa-pts {
  font-family: "poppins";
  padding: 5px 10px;
  margin: 5px;
}

.crdts {
  font-family: "poppins";
  padding: 5px 10px;
  margin: 5px;
}

.cgpa-article .add-btn,
.cgpa-article .bottom-btns button:nth-child(2) {
  appearance: button;
  background-color: #405cf5;
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  outline: none;
  padding: 0 40px;
  position: relative;
  text-align: center;
  padding: 5px 10px;
  margin: 10px;
}

.cgpa-article .edit-btn {
  appearance: button;
  background-color: #f7f2f2;
  border-radius: 6px;
  box-sizing: border-box;
  color: rgb(8, 0, 0);
  outline: none;
  padding: 0 40px;
  position: relative;
  text-align: center;
  padding: 5px 10px;
  margin: 10px;
}

.cgpa-article .delete-btn,
.cgpa-article .bottom-btns button:first-child {
  appearance: button;
  background-color: #f10101;
  border-radius: 6px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  outline: none;
  padding: 0 40px;
  position: relative;
  text-align: center;
  padding: 5px 10px;
  margin: 10px;
}

.cgpa-article .add-btn:hover,
.cgpa-article .bottom-btns button:nth-child(2):hover {
  background-color: #253cc0;
}

.cgpa-article .edit-btn:hover {
  background-color: #ddd4d4;
}

.cgpa-article .delete-btn:hover,
.cgpa-article .bottom-btns button:first-child:hover {
  background-color: #c41515;
}

.cgpa-article .bottom-btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cgpa-article .bottom-btns button:first-child {
  width: 40%;
}

.cgpa-article .bottom-btns button:nth-child(2) {
  width: 40%;
}

/* Sgpa result */
.cgpa-final-result {
  background-color: rgb(182, 223, 255);
  font-family: "poppins";
}

.cgpa-final-result span {
  font-weight: 900;
  font-size: larger;
}

.cgpa-article input {
  background-color: rgb(229, 235, 240);
  color: black;
  border-radius: 85px;
  padding: 5px 10px;
  margin: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 23%;
  box-sizing: border-box;
}

.cgpa-article input:focus {
  background-color: rgb(211, 218, 224);
  border: 1px solid #555;
}
