.card {
  font-family: "poppins";
  line-height: 2rem;
  text-align: center;
  margin: 0 auto;
  color: #080a52;
  background-color: rgba(159, 205, 245, 0.9);
  padding: 2rem;
  min-width: 100%;
  /* border: 2px solid red; */
}

.days-result {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  /* place-items: center; */
}

.days-result li {
  display: block;
  margin: 5px;
  background-color: aliceblue;
  padding: 0 5px;
}

.circle {
  margin: auto;
  height: 150px;
  width: 150px;
}
